@import '../assets/fonts/cocogoose/style.css';
@import '../assets/fonts/lato/style.css';

:root {
  --dark: #272a31;
  --accent: #ec5242;
  --light: #d3d3d3;
  --coco: "COCOGOOSE Regular", arial, sans-serif;
  --lato: "Lato", arial, sans-serif;
}

* {
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

a {
  cursor: pointer;
}
