@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z3oro8');
  src:  url('fonts/icomoon.eot?z3oro8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z3oro8') format('truetype'),
    url('fonts/icomoon.woff?z3oro8') format('woff'),
    url('fonts/icomoon.svg?z3oro8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-abudhabi-convetion-bureau1:before {
  content: "\ad";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-home3:before {
  content: "\e902";
}
.icon-facebook-f-brands:before {
  content: "\fb";
}
.icon-twitter-brands:before {
  content: "\e903";
}
.icon-cc .path1:before {
  content: "\e904";
  color: rgb(236, 107, 88);
}
.icon-cc .path2:before {
  content: "\e905";
  margin-left: -1.0302734375em;
  color: rgb(236, 107, 88);
}
.icon-cc .path3:before {
  content: "\e906";
  margin-left: -1.0302734375em;
  color: rgb(246, 246, 246);
}
.icon-cc .path4:before {
  content: "\e907";
  margin-left: -1.0302734375em;
  color: rgb(246, 246, 246);
}
.icon-cc .path5:before {
  content: "\e908";
  margin-left: -1.0302734375em;
  color: rgb(101, 101, 103);
}
.icon-cc .path6:before {
  content: "\e909";
  margin-left: -1.0302734375em;
  color: rgb(101, 101, 103);
}
.icon-cc .path7:before {
  content: "\e90a";
  margin-left: -1.0302734375em;
  color: rgb(236, 107, 88);
}
.icon-cc .path8:before {
  content: "\e90b";
  margin-left: -1.0302734375em;
  color: rgb(236, 107, 88);
}
.icon-exhibition .path1:before {
  content: "\e90c";
  color: rgb(115, 115, 115);
}
.icon-exhibition .path2:before {
  content: "\e90d";
  margin-left: -0.974609375em;
  color: rgb(123, 123, 123);
}
.icon-exhibition .path3:before {
  content: "\e90e";
  margin-left: -0.974609375em;
  color: rgb(101, 101, 103);
}
.icon-exhibition .path4:before {
  content: "\e90f";
  margin-left: -0.974609375em;
  color: rgb(109, 109, 110);
}
.icon-exhibition .path5:before {
  content: "\e910";
  margin-left: -0.974609375em;
  color: rgb(228, 228, 229);
}
.icon-exhibition .path6:before {
  content: "\e911";
  margin-left: -0.974609375em;
  color: rgb(110, 110, 111);
}
.icon-exhibition .path7:before {
  content: "\e912";
  margin-left: -0.974609375em;
  color: rgb(243, 242, 243);
}
.icon-exhibition .path8:before {
  content: "\e913";
  margin-left: -0.974609375em;
  color: rgb(118, 117, 118);
}
.icon-exhibition .path9:before {
  content: "\e914";
  margin-left: -0.974609375em;
  color: rgb(119, 119, 119);
}
.icon-exhibition .path10:before {
  content: "\e915";
  margin-left: -0.974609375em;
  color: rgb(114, 113, 114);
}
.icon-exhibition .path11:before {
  content: "\e916";
  margin-left: -0.974609375em;
  color: rgb(122, 122, 122);
}
.icon-exhibition .path12:before {
  content: "\e917";
  margin-left: -0.974609375em;
  color: rgb(120, 120, 121);
}
.icon-exhibition .path13:before {
  content: "\e918";
  margin-left: -0.974609375em;
  color: rgb(121, 121, 121);
}
.icon-exhibition .path14:before {
  content: "\e919";
  margin-left: -0.974609375em;
  color: rgb(113, 113, 114);
}
.icon-exhibition .path15:before {
  content: "\e91a";
  margin-left: -0.974609375em;
  color: rgb(118, 118, 118);
}
.icon-exhibition .path16:before {
  content: "\e91b";
  margin-left: -0.974609375em;
  color: rgb(236, 107, 88);
}
.icon-exhibition .path17:before {
  content: "\e91c";
  margin-left: -0.974609375em;
  color: rgb(236, 107, 88);
}
.icon-forum .path1:before {
  content: "\e91d";
  color: rgb(236, 107, 88);
}
.icon-forum .path2:before {
  content: "\e91e";
  margin-left: -1.5263671875em;
  color: rgb(101, 101, 103);
}
.icon-forum .path3:before {
  content: "\e91f";
  margin-left: -1.5263671875em;
  color: rgb(102, 101, 105);
}
.icon-forum .path4:before {
  content: "\e920";
  margin-left: -1.5263671875em;
  color: rgb(101, 100, 102);
}
.icon-forum .path5:before {
  content: "\e921";
  margin-left: -1.5263671875em;
  color: rgb(100, 100, 101);
}
.icon-lecture .path1:before {
  content: "\e922";
  color: rgb(229, 228, 229);
}
.icon-lecture .path2:before {
  content: "\e923";
  margin-left: -0.767578125em;
  color: rgb(102, 101, 104);
}
.icon-lecture .path3:before {
  content: "\e924";
  margin-left: -0.767578125em;
  color: rgb(244, 244, 245);
}
.icon-lecture .path4:before {
  content: "\e925";
  margin-left: -0.767578125em;
  color: rgb(104, 104, 105);
}
.icon-lecture .path5:before {
  content: "\e926";
  margin-left: -0.767578125em;
  color: rgb(153, 153, 154);
}
.icon-lecture .path6:before {
  content: "\e927";
  margin-left: -0.767578125em;
  color: rgb(102, 101, 104);
}
.icon-lecture .path7:before {
  content: "\e928";
  margin-left: -0.767578125em;
  color: rgb(104, 104, 105);
}
.icon-lecture .path8:before {
  content: "\e929";
  margin-left: -0.767578125em;
  color: rgb(104, 104, 105);
}
.icon-lecture .path9:before {
  content: "\e92a";
  margin-left: -0.767578125em;
  color: rgb(104, 104, 105);
}
.icon-lecture .path10:before {
  content: "\e92b";
  margin-left: -0.767578125em;
  color: rgb(104, 104, 105);
}
.icon-lecture .path11:before {
  content: "\e92c";
  margin-left: -0.767578125em;
  color: rgb(153, 153, 154);
}
.icon-lecture .path12:before {
  content: "\e92d";
  margin-left: -0.767578125em;
  color: rgb(249, 249, 249);
}
.icon-lecture .path13:before {
  content: "\e92e";
  margin-left: -0.767578125em;
  color: rgb(117, 116, 118);
}
.icon-lecture .path14:before {
  content: "\e92f";
  margin-left: -0.767578125em;
  color: rgb(236, 107, 88);
}
.icon-workshop .path1:before {
  content: "\e930";
  color: rgb(245, 245, 246);
}
.icon-workshop .path2:before {
  content: "\e931";
  margin-left: -1.16796875em;
  color: rgb(236, 107, 88);
}
.icon-workshop .path3:before {
  content: "\e932";
  margin-left: -1.16796875em;
  color: rgb(230, 230, 231);
}
.icon-workshop .path4:before {
  content: "\e933";
  margin-left: -1.16796875em;
  color: rgb(234, 234, 236);
}
.icon-workshop .path5:before {
  content: "\e934";
  margin-left: -1.16796875em;
  color: rgb(101, 101, 103);
}
.icon-workshop .path6:before {
  content: "\e935";
  margin-left: -1.16796875em;
  color: rgb(236, 107, 88);
}
.icon-workshop .path7:before {
  content: "\e936";
  margin-left: -1.16796875em;
  color: rgb(247, 248, 248);
}
.icon-workshop .path8:before {
  content: "\e937";
  margin-left: -1.16796875em;
  color: rgb(129, 129, 129);
}
.icon-workshop .path9:before {
  content: "\e938";
  margin-left: -1.16796875em;
  color: rgb(236, 107, 88);
}
